h1 {
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	border: 5px solid yellow;
	background-color: #BF05DE;
}

thead{
    align-self: center;
}


td{
	background-color: #BF05DE;
	color: #ffffff;
	font-size: 30px;
	border: 3px solid yellow;
}

table{
	border: 5px solid #ffffff;
}
