h1 {
	font-size: 40em;
	color: #ffffff;
	text-align: center;
	border: 5em solid #ffffff;
	background-color: #BF05DE;
}

td{
	background-color: #BF05DE;
	color: #ffffff;
	font-size: 30em;
	border: 3em solid #ffffff;
}

table{
	border: 5em solid #ffffff;
}
